Repository openfga/sdk-generator, pull requests merged in 2022-10, with the labels that each got.

#48 fix: dotnet sdk not handling null DeletedAt for ListStores
  config/clients/dotnet/template/api_test.mustache
  config/clients/dotnet/template/modelGeneric.mustache
Labels: .NET SDK

#49 chore(dotnet-sdk): bump version and update release note
  config/clients/dotnet/CHANGELOG.md.mustache
  config/clients/dotnet/config.overrides.json
Labels: .NET SDK, release

#52 feat(python-sdk): publish to pypi
  Makefile
  config/clients/python/template/.github/workflows/main.yaml
Labels: Python SDK

#57 chore(all-sdks): update fossa notices
  Makefile
  config/clients/dotnet/config.overrides.json
  config/clients/dotnet/template/NOTICE_details.mustache
  config/clients/dotnet/template/gitignore_custom.mustache
  config/clients/go/config.overrides.json
  config/clients/go/template/NOTICE_details.mustache
  config/clients/go/template/gitignore_custom.mustache
  config/clients/js/config.overrides.json
  config/clients/js/template/NOTICE_details.mustache
  config/clients/js/template/gitignore
  config/clients/js/template/gitignore_custom.mustache
  config/clients/python/config.overrides.json
  config/clients/python/template/NOTICE_details.mustache
  config/clients/python/template/README_custom_badges.mustache
  config/clients/python/template/gitignore_custom.mustache
  config/common/config.base.json
  config/common/files/NOTICE.mustache
  config/common/files/NOTICE.txt
  config/common/files/NOTICE_details.mustache
  config/common/files/gitignore.mustache
  scripts/setup_new_sdk.sh
Labels: Go SDK, .NET SDK, JS/Node SDK, Python SDK
