Repository openfga/sdk-generator, pull requests merged in 2024-11, with the labels that each got.

#443 chore(python-sdk): dependency updates
  config/clients/python/template/.github/workflows/main.yaml.mustache
  config/clients/python/template/test-requirements.mustache
  config/clients/python/template/test/client/client_test.py.mustache
  config/clients/python/template/test/credentials_test.py.mustache
  config/clients/python/template/test/sync/client/client_test.py.mustache
Labels: python-sdk, dependencies

#444 chore: update github action versions
  .github/workflows/main.yaml
  .github/workflows/semgrep.yaml
  config/clients/dotnet/template/.github/workflows/main.yaml.mustache
  config/clients/go/template/.github/workflows/main.yaml.mustache
  config/clients/java/template/.github/workflows/fossa.yaml
  config/clients/java/template/.github/workflows/main.yaml.mustache
  config/clients/js/template/.github/workflows/main.yaml.mustache
  config/clients/python/template/.github/workflows/main.yaml.mustache
  config/common/files/.github/workflows/semgrep.yaml
Labels: dependencies

#445 release(java-sdk): v0.7.1
  config/clients/java/CHANGELOG.md.mustache
  config/clients/java/config.overrides.json
  config/clients/java/template/README_installation.mustache
  config/clients/java/template/build.gradle.mustache
  config/clients/java/template/config-TelemetryConfiguration.java.mustache
  config/clients/java/template/docs/OpenTelemetry.md.mustache
  config/clients/java/template/example/example1/build.gradle.mustache
  config/clients/java/template/telemetry-Metrics.java.mustache
Labels: release, java-sdk

#451 chore(python-sdk): remove Optional typings
  config/clients/python/template/src/configuration.py.mustache
  config/clients/python/template/src/telemetry/attributes.py.mustache
  config/clients/python/template/src/telemetry/configuration.py.mustache
  config/clients/python/template/src/telemetry/counters.py.mustache
  config/clients/python/template/src/telemetry/histograms.py.mustache
  config/clients/python/template/src/telemetry/metrics.py.mustache
Labels: python-sdk

#420 fix : change default retry policy
  config/common/config.base.json
Labels: hacktoberfest-accepted
